body {
  background-color: #fffffa;
}

h1 {
  color: #71F79f;
  margin-top: 30px;
}

h3 {
  color: #71F79F;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  width: 100%;
  text-align: center;
  background-color: #343434;
}

.sidebar {
  position: absolute;
  top: 200px;
}

.display-items {
  position: relative;
  top: 200px;
  left: 300px;
  height: 200px;
  border-bottom: 2px solid #71F79F;
}
